*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav{
    height:60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid red;
}

.nav-left{
    width: 20%;
    display: flex;
    justify-content: space-between;
}

.nav-right{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: black;
}